<a href="https://colab.research.google.com/github/BroodrickVM/BroodrickVM/blob/main/Another_copy_of_ASSN_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ASSN_01

Please complete the following questions and tasks. When writing code, please provide answers in Python. Please provide all answers in this ipynb notebook. Readability of the code and questions will count for 10% of the assignment, so please comment and use Markdown to make the ipynb easy to read!

Once completed, please turn this ipynb into the corrresponding assignment on `Blackboard`. `I WILL NOT ACCEPT FILES THAT ARE NOT IPYNB!!`

In general the programs you write should work for any data passed in, not just the "input" given. For example, if I ask you to print all values in a list, if they are equal to 3 for the list - l=[1,2,3,2,3] the answer could be...
```
[print(i) for i in l if i==3]
```
But should **NOT** be...
```
print(l[2])
print(l[[-1])
```

##Question #1
Please research, explain and demonstrate common String formatting methods for Python. This will be crucial in creating clean and easy to read notebooks, but do not have time to teach in class. Python programming requires a lot of "Google skill", and this will be good practice for that. (You do not need to actually do anything here other than research!)
  
Python
- String formatting methods (hint "f strings" and "string format")
- How to format numbers to show dollars, rounding, percent etc

```
Add text below
```

In [ ]:
#f-strings (Formatted Strings Literals)
##Introduced in Python 3.6, f strings are the most modern and readable way to format strings
name="Velaphi"
age=26
print(f"My name is {name} and I am {age} years old.")

#Formatting Numbers
price=2468.1234
print(f"Price:${price:.2f}") #Rounds to 2 decimal places
print(f"Price with commas: ${price:,.2f}") #Adds thousand seperators

#Percentages
accuracy = 0.91827
print(f"Accuracy: {accuracy:.2%}")

My name is Velaphi and I am 26 years old.
Price:$2468.12
Price with commas: $2,468.12
Accuracy: 91.83%

## Question #2
Given the following input list, write code to test if the first and last values are equivalent.
- Python Input Data:
```
vals = ["1", "1.3", "1B", "4", "tent"]
```

In [ ]:
vals = ["1", "1.3", "1B", "4", "tent"]
#Check if the first and last values are equivalent
if vals[0]==vals[-1]:
  print("The first and last values are the same.")
else:
    print("The first and last values are different")

The first and last values are different

##Question #3
Given a list/vector of values, write code to count the instances of each unique value and store them in a data structure (hint… a dictionary will be helpful).
For example, if a list has 3 instances of 10.... the data structure should show {10: 3}
 - Python Input Data: [1,1,10,4,5,4,8,1,1,9,10,3, 3, 4, 1, 10, 11]

In [ ]:
#Inputting Data
data = [1,1,10,4,5,4,8,1,1,9,10,3,4,1,10,11]

#Create an empty dictionary to store counts
counts = {}

#Loop through each value in the list
for value in data:
  #Increment count if value already exists, else initialize to 1
  counts[value]=counts.get(value, 0) + 1

  #Display results
  print("Occurences of each unique value:")
  print(counts)

Occurences of each unique value:
{1: 1}
Occurences of each unique value:
{1: 2}
Occurences of each unique value:
{1: 2, 10: 1}
Occurences of each unique value:
{1: 2, 10: 1, 4: 1}
Occurences of each unique value:
{1: 2, 10: 1, 4: 1, 5: 1}
Occurences of each unique value:
{1: 2, 10: 1, 4: 2, 5: 1}
Occurences of each unique value:
{1: 2, 10: 1, 4: 2, 5: 1, 8: 1}
Occurences of each unique value:
{1: 3, 10: 1, 4: 2, 5: 1, 8: 1}
Occurences of each unique value:
{1: 4, 10: 1, 4: 2, 5: 1, 8: 1}
Occurences of each unique value:
{1: 4, 10: 1, 4: 2, 5: 1, 8: 1, 9: 1}
Occurences of each unique value:
{1: 4, 10: 2, 4: 2, 5: 1, 8: 1, 9: 1}
Occurences of each unique value:
{1: 4, 10: 2, 4: 2, 5: 1, 8: 1, 9: 1, 3: 1}
Occurences of each unique value:
{1: 4, 10: 2, 4: 3, 5: 1, 8: 1, 9: 1, 3: 1}
Occurences of each unique value:
{1: 5, 10: 2, 4: 3, 5: 1, 8: 1, 9: 1, 3: 1}
Occurences of each unique value:
{1: 5, 10: 3, 4: 3, 5: 1, 8: 1, 9: 1, 3: 1}
Occurences of each unique value:
{1: 5, 10: 3, 4: 3, 5: 1, 8: 1, 9: 1, 3: 1, 11: 1}

##Question #4
Write a Python program to find those numbers which are divisible by both 7 and  5, between 1 and 10,000 (inclusive).

In [ ]:
#Find the numbers divisible by both 7 and 5 between 1 and 10,000 (inclusive)

#Create an empty list to store the results
divisible_numbers = []

#Loop through numbers from 1 to 10,000
for num in range(1, 10001):
  #check if divisible by both 7 and 5
  if num % 7 == 0 and num % 5 == 0:
    divisible_numbers.append(num)

#Display the results
print("Numbers divisible by both 7 and 5 between 1 and 10,000:")
print(divisible_numbers)

Numbers divisible by both 7 and 5 between 1 and 10,000:
[35, 70, 105, 140, 175, 210, 245, 280, 315, 350, 385, 420, 455, 490, 525, 560, 595, 630, 665, 700, 735, 770, 805, 840, 875, 910, 945, 980, 1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975, 3010, 3045, 3080, 3115, 3150, 3185, 3220, 3255, 3290, 3325, 3360, 3395, 3430, 3465, 3500, 3535, 3570, 3605, 3640, 3675, 3710, 3745, 3780, 3815, 3850, 3885, 3920, 3955, 3990, 4025, 4060, 4095, 4130, 4165, 4200, 4235, 4270, 4305, 4340, 4375, 4410, 4445, 4480, 4515, 4550, 4585, 4620, 4655, 4690, 4725, 4760, 4795, 4830, 4865, 4900, 4935, 4970, 5005, 5040, 5075, 5110, 5145, 5180, 5215, 5250, 5285, 5320, 5355, 5390, 5425, 5460, 5495, 5530, 5565, 5600, 5635, 5670, 5705, 5740, 5775, 5810, 5845, 5880, 5915, 5950, 5985, 6020, 6055, 6090, 6125, 6160, 6195, 6230, 6265, 6300, 6335, 6370, 6405, 6440, 6475, 6510, 6545, 6580, 6615, 6650, 6685, 6720, 6755, 6790, 6825, 6860, 6895, 6930, 6965, 7000, 7035, 7070, 7105, 7140, 7175, 7210, 7245, 7280, 7315, 7350, 7385, 7420, 7455, 7490, 7525, 7560, 7595, 7630, 7665, 7700, 7735, 7770, 7805, 7840, 7875, 7910, 7945, 7980, 8015, 8050, 8085, 8120, 8155, 8190, 8225, 8260, 8295, 8330, 8365, 8400, 8435, 8470, 8505, 8540, 8575, 8610, 8645, 8680, 8715, 8750, 8785, 8820, 8855, 8890, 8925, 8960, 8995, 9030, 9065, 9100, 9135, 9170, 9205, 9240, 9275, 9310, 9345, 9380, 9415, 9450, 9485, 9520, 9555, 9590, 9625, 9660, 9695, 9730, 9765, 9800, 9835, 9870, 9905, 9940, 9975]

##Question #5
Given the following input lists/vector in Python, Answer the following questions for Python

- Python input:
```
vals = [1, 10, None, 45, 3, None, 8]
```

### 5a.
What happens if you sum the list/vector containing null values?

In [ ]:
#Attempting to sum the list/vector containing null values
vals = [1, 10, None, 45, 3, None, 8]

try:
  total = sum(vals)
  print("Sum of list:", total)
except TypeError as e:
  print("Error:", e)

Error: unsupported operand type(s) for +: 'int' and 'NoneType'

###5b.
Using the list from the previous question, create a new list of Boolean values that contains boolean values(or null) and is true if an item is equal to 3.

Python output should be:
```
[False, False, False, False, True, False, False]
```

In [ ]:
#Iput list
vals = [1, 10, None, 45, 3, None, 8]

#Create a boolean list where True if the value equals 3, else False
bool_list = [v == 3 for v in vals]

#Display the results
print("Original List:", vals)
print("Boolean List:", bool_list)

Original List: [1, 10, None, 45, 3, None, 8]
Boolean List: [False, False, False, False, True, False, False]

###5c.
Write a Program to count the number of null **values**, without using any Python built-in functions.

In [ ]:
#List
vals = [1, 10, None, 45, 3, None, 8]

#Set null count to 0
null_count = 0

#Loop through list to count None values
for v in vals:
  if v is None:
    null_count += 1

#Display result
print("Number of null values:", null_count)

Number of null values: 2

###5d.
Create a new list/vector with the null values removed. Hint... a For-loop with an if-statement will be useful.

In [ ]:
#List
vals = [1, 10, None, 45, 3, None, 8]

#Initialize an empty list to store non-null values
New_List = []

#Loop through the original list
for v in vals:
  if v is not None:
    New_List.append(v)

#Display the cleaned list
print("Original List:", vals)
print("New List:", New_List)

Original List: [1, 10, None, 45, 3, None, 8]
New List: [1, 10, 45, 3, 8]

##Question #6
De-bug the following blocks of code. Please document in comments what you changed and why.... What type of error is each?

In [21]:
  capitals =
    "Maryland" == "Annapolis"
    "California": NA,
    "New York": "Sacramento,
    "Utah'': "Albany",
    "Alabama": "Salt Lake City"
  }
  print(capitals["Utah'])

  #-- print the keys of the dictionary
print(capitals.keys)

#-- Print the State and Capitals
for state, city in capitals.items():
  print(f"The capital of {state} is {city}.")

SyntaxError: unterminated string literal (detected at line 4) (ipython-input-1047911735.py, line 4)

In [20]:
#Solution
#Fixing dictionary syntax issues
capitals = {
    "Maryland": "Annapolis",
    "California": "NA",
    "New York": "Sacramento",
    "Utah": "Albany",
    "Alabama": "Salt Lake City"
}
#Changed '==' to ':' because that was syntax error
#Replaced undefined NA with string "NA" because it had given NameError
#Added missing closing quote because it had given SyntaxError
#Fixed mismatched quotes because it had given SyntaxError

#Fixed mismatched quotes
print(capitals["Utah"])
#Changed mismatched single/double quotes because it was giving SyntaxError

#Correct way to print dictionary keys
print(capitals.keys()) # Corrected variable name and added parentheses
#Added parentheses because it was giving AttributeError

#Print State and Capital pairs
for state, city in capitals.items():
    print(f"The capital of {state} is {city}.")

Albany
dict_keys(['Maryland', 'California', 'New York', 'Utah', 'Alabama'])
The capital of Maryland is Annapolis.
The capital of California is NA.
The capital of New York is Sacramento.
The capital of Utah is Albany.
The capital of Alabama is Salt Lake City.

##Question #7
Given the below input data types in Python, convert the following hash (dictionary) into a list that all have the same denomination. e.g. if a number is "1" in thousands, turn it into 1,000.
- Python: {10: "thousands", 1000: "ones", .0005: "millions", .000000324234: "trillions"}



Example Output:
```
[10000, 1000, 500, 324234]
```

In [23]:
data = {
    10: "thousands",
    1000: "ones",
    0.0005: "millions",
    0.000000324234: "trillions"
}

#Coversion factors for each denomination
conversion_factors = {
    "ones": 1,
    "thousands": 1_000,
    "millions": 1_000_000,
    "trillions": 1_000_000_000_000
}

#Covert values to "ones"
converted_list = []
for value, unit in data.items():
  #Multiply by correct conversion factor
  converted_value = value*conversion_factors[unit]
  converted_list.append(int(converted_value))

  print(converted_list)

[10000]
[10000, 1000]
[10000, 1000, 500]
[10000, 1000, 500, 324234]

## Question #8
Write a block of code, that finds and prints the largest value in a list. Please do not use any built-in functions, and the code should generalize well if the list inputs changed. This would include lists with different data, and lists of different length.

In [ ]:
list_of_numbers = [1000,3213,2323,2312,2323]

In [31]:
list_of_numbers = [1000, 3213, 2323, 2312, 2323]

#Assume the first element is the largest initially
largest = list_of_numbers[0]

#Loop through the list to compare each number
for num in list_of_numbers:
  if num > largest:
     largest = num #Update Largest when a bigger number is found

  #Print the largest value
  print("The largest value in the list is:", largest)

The largest value in the list is: 1000
The largest value in the list is: 3213
The largest value in the list is: 3213
The largest value in the list is: 3213
The largest value in the list is: 3213

##Question #9
Write a block of code to determine if a given input number is a prime number. If the number is a prime number, print "number is a prime number" otherwise print "number is not a prime number"

In [ ]:
input_num = 97

In [4]:
#input number
input_num = 97

#assume the number is prime until proven otherwise
is_prime = True

#A number less than 2 is not prime
if input_num < 2:
  is_prime = False
else:
    #Check divisibility from 2 up to the square root of the number
    for i in range(2, int(input_num**0.5) + 1):
      if input_num % i ==0:
        is_prime = False
        break #No need to check further if a divisor is found

#Output result based on the flag
if is_prime:
  print(f"{input_num} is a prime number.")
else:
    print(f"{input_num} is not a prime number.")

97 is a prime number.

## Question #10
Taking in a list of multiple data types, sort the data in to a dictionary by the data type. The dictionary should consist of keys that correspond to a data type (e.g. int, float, str etc., the type/typeof functions should be useful), the values should be a list of all of the values of that data type
- Python: ["hey", 10, True, None, 23.43, 10.2, "second", 11,12, False, None]

In [8]:
#Input list with multiple data types
data = ["hey", 10, True, None, 23.43, 10.2, "second", 11, 12, False, None]

#Initialise an empty dictionary to store values grouped by data type
data_by_type = {}

#Loop through each item in the list
for item in data:
  #Get the type of the current item
  item_type = type(item).__name__ #using _name_ gives cleaner keys

  #if the type key doesn't exist in the dictionary, create it with an empty list
  if item_type not in data_by_type:
    data_by_type[item_type] = []

    #Append the item to the corresponding list in the dictionary
    data_by_type[item_type].append(item)

#Print the resulting dictionary
print(data_by_type)

{'str': ['hey'], 'int': [10], 'bool': [True], 'NoneType': [None], 'float': [23.43]}