<a href="https://colab.research.google.com/github/BroodrickVM/BroodrickVM/blob/main/Lecture_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Class #1

## 1.1 About Python and IDEs

What is Python?

### Where am I?
This is a `Jupyter Notebook`, one of many `Integrated Development Environments` (`IDEs`) developers can use to write code.

Microsoft Word: English as Jupyter Notebook:Python

Other common `IDE`s for Python include:
- Jupyter Notebook
- Spyder
- Idle
- Visual Studio
- Atom
- Notepad++

Some IDEs include `Kernels`, but some do not. Jupyter Notebook, or notebooks in general are useful especially for exploratory and visual analysis, but they are surely not without their drawbacks.

|Action|Command|
|-------------------|---------------------|
|    Execute current cell | `<CTRL-ENTER>`|
|    Execute current cell and moves to next cell | `<SHIFT-ENTER>`|
|   Insert cell above | `<CTRL-M> <A>`|
|  Append cell below | `<CTRL-M> <B>`|
|    Convert cell to code | `<CTRL-M> <Y>`|
|   Convert cell to Markdown | `<CTRL-M> <M>`|
|  Delete cell | `<CTRL-M> <D>`|
|    Autocomplete | `<TAB>`|
|    Goes from edit to \"command\" mode | `<ESC>`|
|    Goes from \"command\" to edit mode | `<ENTER>`|

### File Types
Python primarily uses two different file types that you should be familiar with.
- `.py`: This is the native text-based file type to python that indicates to the computer that it should be treated as containing Python code
- `.ipynb`: Another common file type for Python users that enables the user to see code and output in the same place. This enables Jupyter Notebooks such as the one we are in right now!

## 1.2 Basic Operators

### `Arithmetic Operators`

An `Arithmetic Operator` is a mathematical function that performs a calculation on two operands. The different types of arithmetic operators include *addition*, *subtraction*, *multiplication*, *division*, *modulus*, *exponentiation* and *floor division*.

| Symbol | Operator |
| -------| ------|
| + | Addition|
|-|Subtraction|
|/|Divisision|
| * | Multiplication |
| ** | Exponents |
| % | Mod |
| // | Floor Division |

#### Addition

In [ ]:
1 + 10 + 2

#### Subtraction

In [ ]:
10 - 2

In [ ]:
6 - 3 + 2

In [ ]:
#-- Notice that Python follows PEMDAS procedures
6 - 3 + -2

#### Multiplication

In [ ]:
10 * 4

40

In [ ]:
#-- Hmmm... notice 40 compared with 40.0, more to come on different Python data
10.0 * 4.0

40.0

In [ ]:
10 + 4 * 3

22

In [ ]:
 3 * (10+4)

42

#### Division

In [ ]:
#-- Notice division automatically converts ints to floats... again, more to come
6 / 2

3.0

In [ ]:
6.0 / 2.0

3.0

#### Rooting

In [ ]:
2 ** 3

8

In [ ]:
9 ** (1/2)

3.0

#### Modulo
If a is divided by b, and the remainder is returned, this remainder is the "modulo". Let's see an example with numbers.

In [ ]:
5 % 2

1

In [ ]:
7 % 2

1

In [ ]:
6 % 2

0

In [ ]:
11 % 3

2

#### Floor Division
Floor division is a mathematical operation in Python that divides two numbers and rounds the result down to the nearest integer

In [ ]:
9 // 2

4

In [ ]:
10 // 3

3

### `Comparison Operators` (aka relational operators)

`Comparison operators`, also known as relational operators in Python, compare the values on either side of them and returns a `boolean value` (more on this shortly). They tell whether a statement is True or False according to the condition.

| Symbol | Meaning |
| -------| ------|
| == | Equal To|
|!=|Not equal to|
|>|Greater than|
| >= | Greater than or equal to |
| < | Less than |
| <= | Less than or equal to |

In [ ]:
10 == 10

True

In [ ]:
10 == 11

False

In [ ]:
10 == 10.0

In [ ]:
10 != 10

False

In [ ]:
10 < 11

In [ ]:
10 >= 11

In [ ]:
10==10 and 8==11
#True.    # False

False

## 1.3 Variables and Python Built-In Data Types and Data Structures
These arithmetic operators are crucial to programming, and every programming language will have some variation of these, (more on R later).

But just adding subtracting etc is not very useful on its own, we have calculators for that. A big component of computer programming is defining `variables` (Defined below) that we can use, reference and change as our program executes. Variables can store different types of data (e.g. `Data Types`). We have seen an example of this already where some numbers had a decimal, and some did not.

`Variables`:
Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

Variable naming conventions are as follows:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)



`Data Types`
- `Data types` are the classification or categorization of knowledge items. The main built-in  data types in Python are `ints`, `floats`, `strings`, and `booleans`.

##### Data Types: Ints, floats, strings, and booleans
|Data Type | Example|
|----|----|
|Int  | 3,4,5 |
|Float  | 10.5, 10.0 |
|String  | "I am a String", "10" |
|bool  | True, False |
|null | None|

In [ ]:
#-- Here is an example of a variable declaration
x = 10
print(x)

10

In [ ]:
type(x)

int

In [ ]:
#-- Note that we can alter the variable after it is declared
x = x + 1
print(x)

11

In [ ]:
x + 1

12

In [ ]:
x

11

In [ ]:
x+1

In [ ]:
x += 1

In [ ]:
x

12

In [ ]:
#-- You can also use this useful plus-equals operator
#-- You can also use -=, *=, /= etc
x *= 10
print(x)

120

In [ ]:
#-- Note that this throws an error, because we have not assigned a piece of
#-- data to the variable y, but are trying to use it. Python does not like this.
y + 10

10

In [ ]:
y = 0

In [ ]:
#-- We will learn much more about functions next class, but this is one example
#-- of a built-in Python function. It will tell us the data type of a piece of
#-- data. We have also been using another.... print()
type(x)

In [ ]:
print(type(x))

In [ ]:
#-- Note that a Notebook will only print something if it is the
#-- last line of code in a block. If you want to print something,
#-- you should really explicitly tell the program to print. The code below,
#-- does not print anything
type(10.0)

float

In [ ]:
#-- This is our first example of a String, which is useful for storing a
#-- character, or a "String" of characters
x = "10"
print(type(x))

<class 'str'>

In [ ]:
x = '10'

In [ ]:
x

'10'

In [ ]:
x * 10

'10101010101010101010'

In [ ]:
x = '''
kjdbvkjsdbfs
sdfkbsdkfjbhsd
sdkfbskdbf
sdfbsdkjfb
'''

In [ ]:
x = "Can we get to the machine learning already?"
print(x)
print(type(x))

In [ ]:
x = 10
print(type(x))

In [ ]:
x = 10.0
print(type(x))

In [ ]:
x + "10"

In [ ]:
#-- Boolean values in Python can be only True or False.
#-- Capitalization is important here!
#-- This can be very useful for comparing data types, as we see below.
#-- You can compare data types with a "==". This is important, and you fill forget
#-- this from time to time.
#-- e.g. 10 == 12 --> False
#-- e.g. 10 == 10 --> True
x = True
print(type(x))

<class 'bool'>

In [ ]:
x = False
print(type(x))

<class 'bool'>

In [ ]:
print(type(10==10))

<class 'bool'>

In [ ]:
x = 10
y = 11
z = x + y

In [ ]:
z

21

In [ ]:
x = 100

In [ ]:
x = 10 == 10
x

True

In [ ]:
True + True / False

ZeroDivisionError: division by zero

In [ ]:
True == 1

True

`Casting` is also very important and will be used often. Casting is the conversion from one data type to another. (e.g. string to int)

In [ ]:
#-- In addition to changing the value of a variable, you can even change
#-- the data type of a variable
#-- In the below example we change a variable from being an int, to a float
x = 10
x = float(x)
print(x)
print(type(x))

In [ ]:
x = "10"
x = float(x)
print(x)
print(type(x))

10.0
<class 'float'>

In [ ]:
x = "Not a number"
x = float(x)
print(x)
print(type(x))

ValueError: could not convert string to float: 'Not a number'

In [ ]:
x = "10"
x = int(float(x))
print(x)
print(type(x))

10
<class 'int'>

In [ ]:
num = 10.0
num = str(num)
type(num)

str

In [ ]:
x = True
x = float(x)
print(x)
print(type(x))

In [ ]:
True + 1

In [ ]:
x = False
x = int(x)
print(x)
print(type(x))

In [ ]:
x = 10
y = 5
z = x + y
print(z)

In [ ]:
x = 15

In [ ]:
z

In [ ]:
x = 100
print(z)

In [ ]:
#-- Python is leniant in operations between data types compared to
#-- some languages, however you cannot add Strings and Numeric data!
#-- You can complete operations between ints and floats though
x = "10"
y = 5
z = x + y
print(z)

In [ ]:
#-- Though this looks funky, you are simply assigning a boolean to Z
x = 10
y = 20
z = x == y #-- False
print(z)

In [ ]:
#-- It is useful sometimes to check if data types are same or different
type(x) == type(y)

In [ ]:
#-- You can also test if a type is of a specified type
type(x) == str

In [ ]:
type(x) == float

False

In [ ]:
type(x) == int

In [ ]:
x = 20
y = 20
z = x == y
print(z)

In [ ]:
x = 20
y = 20.0
z = x == y
print(z)

In [ ]:
x = 20
y = 20.0
z = x == y
print(z)

True

In [ ]:
x = None

##### Data Strutures: Lists, and tuples

`Lists` and `tuples` are extremely useful. You will almost certaintly find yourselves using lists far often than tuples. In my professional experience I could probably count the number of times I have used a tuple on one hand. Below are some key differences:

|Data structure | Properties| Syntax|
|----|----|----|
|List | Ordered, mutable sequence | mylist = [1,2,3] |
|Tuple | Ordered, immutable sequence | mytuple = (1,2,3) |
|Set | Unordered set of unique values | {1,2,3} |
|Dictionary | Mutable set of key, value pairs | mydict = {'first_value':1, 'second_value:2} |

Source and deeper explanation:
https://realpython.com/python-lists-tuples/

Below are some properties of different Python data structures

`Lists`:
- Lists are defined with square brackets (e.g. [])
- Lists are ordered.
- Lists can contain any arbitrary objects (any data types)
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable. (e.g. you can alter data)
- Lists are dynamic. (e.g. you can add data)

`Tuples`:
- Tuples are defined with parenthesis (e.g. ())
- Tuples are ordered.
- Tuples can contain any arbitrary objects (any data types)
- Tuples elements can be accessed by index.
- Tuples can be nested to arbitrary depth.
- Tuples are immutable. (e.g. you canot alter data)
- Tuples are dynamic. (e.g. you can add data)
`sets`:
- sets are defined with `set()` or squigly brackets `{}`
- sets are not really ordered
- sets can contain any data types, but can't really contain data structures
- sets can be accessed by index, by ordering is inconsistent
- sets are mutable
- sets are dynamic

So, why use a Tuple over a list?

Source: https://www.simplilearn.com/difference-between-list-and-tuple-in-python-article#:~:text=Tuples%20are%20allocated%20large%20blocks,a%20large%20number%20of%20elements.

`Tuples` are allocated large blocks of memory with lower overhead than lists because they are `immutable`; whereas for lists, small memory blocks are allocated. Thus, tuples tend to be faster than lists when there are a large number of elements.
Different Use Cases
Python's lists are best suited to store data in the following situations:

Several types of data can be stored in lists, and their index can be used to access them.
`Lists` are good for mathematical operations on a group of elements because Python allows you to perform these operations directly on the list.
If you don't know how many elements will be stored in your list ahead of time, it's easy to increase or decrease its size as needed.
Python's tuples are best suited to store data in the following situations:

It’s best to use a tuple when you know the exact information that will go into the object's fields.
For example, if you want to store credentials for your website, it’s okay to use a tuple.
The `tuples` are immutable (unchangeable), so they can only be used as keys for `dictionaries`. But if you want to use a list as a key, make it into a tuple first.

In [ ]:
x = (1,2,3)
x[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
#-- A quick note on variable naming convention... See rules above
variables_can_be_named_anything_btw = [10,14,11,20]

In [ ]:
print(type(variables_can_be_named_anything_btw))

<class 'list'>

In [ ]:
type(variables_can_be_named_anything_btw) == list

True

In [ ]:
well_not_anything = [10,14,11,20]

In [ ]:
1well_not_anything = [10,14,11,20]

In [ ]:
list_a = [1,2,3,4,1]

In [ ]:
len(list_a)

5

In [ ]:
list(set(list_a))

###### A quick note on `indexing` v. `slicing`
Additional Details: https://railsware.com/blog/indexing-and-slicing-for-lists-tuples-strings-sequential-types/#Indexing

`Indexing`:
Python uses zero-based indexing. That means, the first element(value ‘red’) has an index 0, the second(value ‘green’) has index 1, and so on. You can also use negative indexing which can be useful to access items at the end of a list without worrying about passing an "out of bounds" index, or iterate over a list in reverse. For a list with 3 items list[2] == list[-1]. Since lists are mutable, it should be noted that you can change a value using indexing, or slicing.
![image.png]()



`Slicing`: As it was shown, indexing allows you to access/change/delete only a single cell of a list. What if we want to get a sublist of the list. Or we want to update a bunch of cells at once? Or we want to go on a frenzy and extend a list with an arbitrary number of new cells in any position?

##### Indexing

In [1]:
x = [1,2,3]
x[1]

2

In [2]:
x = [1,2,3]
x[2]

3

In [3]:
x = [1,2,3]
print(x[0])

1

In [4]:
x[3]

IndexError: list index out of range

In [5]:
x = [1,2,3]
x[1] = 10
print(x)

[1, 10, 3]

In [6]:
x = [1,2,3]
x[2] = x[1] + 3
print(x)

[1, 2, 5]

In [7]:
x

[1, 2, 5]

In [8]:
print(x[4])

IndexError: list index out of range

##### Slicing

In [9]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x[0:5])

[1, 2, 3, 4, 5]

In [10]:
x[5:-1]

[6, 7, 8, 9]

##### Other list operations

In [11]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
"10" * 3

'101010'

In [13]:
x * 3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [14]:
x / 2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [15]:
x = [1,2,3]
y = [4,5,6]
print( x + y)

[1, 2, 3, 4, 5, 6]

In [16]:
z = [[1,2,3], [4,5,6]]
len(z)

2

In [17]:
z[0][2]

3

In [18]:
len(x)

3

In [19]:
y

[4, 5, 6]

In [20]:
x.append(y)

In [21]:
x + y

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [22]:
x

[1, 2, 3, [4, 5, 6]]

In [24]:
z[0][2]

3

In [25]:
x[2][0]

TypeError: 'int' object is not subscriptable

In [26]:
#-- A brief overview of tuples
x = (1,2,3)

In [27]:
type(x) == tuple

True

In [28]:
#-- Indexing works the same as lists...
x[1]

2

In [29]:
#-- Key difference is, do not try and change (mutate) a tuple!
#-- So if this is the case.... why would anyone ever use a tuple?
#----- Because they can be faster... but in truth, you will probably
#----- almost never use tuples.
x[1] = 100

TypeError: 'tuple' object does not support item assignment

This is probably a good time to begin discussing `functions` and `methods`. For now, the difference does not really matter, other than the fact that they are used differently...

For some instances, there will be duplicative `methods` and `functions` as is the case of sorting a list.

One very important thing to note in the case of list, is that all methods alter the list in place.

Function is simply called, and you pass it an "**argument**"
```
#--- Function
x = [1,2,3]
sorted(x)
```
A method is called on the object (e.g. list in this case) itself
```
#--- Method
x = [1,2,3]
x.sort()
```

In [30]:
x = [4,3,2,1]
sorted(x)

[1, 2, 3, 4]

In [31]:
x

[4, 3, 2, 1]

In [34]:
x = ["a", "x", 2]
sorted(x)

TypeError: '<' not supported between instances of 'int' and 'str'

In [33]:
x = [4,3,2,1]
sorted(x)

[1, 2, 3, 4]

In [35]:
x

['a', 'x', 2]

In [36]:
x = [4,3,2,1]
x = x.sort()

In [37]:
x

In [38]:
x

In [39]:
x

In [40]:
len(x)

TypeError: object of type 'NoneType' has no len()

In [41]:
x = [1,2,3]

In [42]:
sum(x)

6

In [43]:
x.sum()

AttributeError: 'list' object has no attribute 'sum'

Python Built-In List Functions and Methods

Functions

Methods
Source and additional information:
https://www.w3schools.com/python/python_ref_list.asp

|List Methods | Description|
|----|----|
|append()|	Adds an element at the end of the list|
|clear()|	Removes all the elements from the list|
|copy()|	Returns a copy of the list|
|count()|	Returns the number of elements with the specified value|
|extend()|	Add the elements of a list (or any iterable), to the end of the current list|
|index()|	Returns the index of the first element with the specified value|
|insert()|	Adds an element at the specified position|
|pop()|	Removes the element at the specified position|
|remove()|	Removes the first item with the specified value|
|reverse()|	Reverses the order of the list|
|sort()|	Sorts the list|


Built-In Functions Useful for Lists

|List Functions | Description|
|----|----|
| sorted() | Sorts a list |
| reversed() | Reverses a list, needs to be casted back to list type |
| sum() | Sums the items in a list |
| len() | computes the length of the list |

In [44]:
#-- There are also many useful functions for lists and tuples

#- To sum a list
x = [1,2,3,4,5]
print(sum(x))

15

In [45]:
#- To find how many items in a list
x = [1,2,3,4,5]
print(len(x))

5

In [46]:
#- To sort a list with a Function
#- Note that the data is returned
x = [10, 3, 27, 1, 5]
print(sorted(x))

[1, 3, 5, 10, 27]

In [47]:
x = [10, 3, 27, 1, 5]
print(sorted(x, reverse=True))

[27, 10, 5, 3, 1]

In [48]:
#- Lets try the same thing with the sort method
x = [10, 3, 27, 1, 5]
print(x.sort())
print(x)

None
[1, 3, 5, 10, 27]

In [49]:
#- Notice that it returned none...
#- This is because methods alter data in place!

x = [10, 3, 27, 1, 5]
x.sort()
print(x)

[1, 3, 5, 10, 27]

In [50]:
x = ["b. this","e. ?", "d. sorted", "c. list", "a. Is" ]
print(sorted(x))

['a. Is', 'b. this', 'c. list', 'd. sorted', 'e. ?']

In [51]:
x = ["b. this","e. ?", "d. sorted", "c. list", "a. Is", "B. eh?" ]
print(sorted(x))

['B. eh?', 'a. Is', 'b. this', 'c. list', 'd. sorted', 'e. ?']

In [52]:
#- To reverse a list
x = [10, 3, 27, 1, 5]
print(list(reversed(x)))

[5, 1, 27, 3, 10]

In [53]:
#- which can then be applied to reverse sort...
x = [10, 3, 27, 1, 5]
print(list(reversed(sorted(x))))

[27, 10, 5, 3, 1]

In [55]:
#-- To append to the end of a list. Note this function does the operation in
#-- place, which is a little differenc than how most functions work
x = [1,2,3,4]
x.append(5)
print(x)

[1, 2, 3, 4, 5]

##### Data Structures: `Dictionary`

`Dictionaries` are one of the most powerful and important data structures you will use in programming and Pandas DataFrames, which you will learn more about next class, are built off of these.

`Dictionaries`:
- Dictionaries are mutable.
- Dictionaries are dynamic. They can grow and shrink as needed.
- Dictionaries can be nested. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.
- Dictionaries are accessed using their "keys". Dictionaries are based on Key, value pairs

Built-In Dictionary Methods
Source: https://www.w3schools.com/python/python_ref_dictionary.asp

|Method | Description |
|---|---|
|clear()|	Removes all the elements from the dictionary|
|copy() |	Returns a copy of the dictionary|
|fromkeys()	|Returns a dictionary with the specified keys and value|
|get() | Returns the value of the specified key|
|items() |	Returns a list containing a tuple for each key value pair|
|keys()	| Returns a list containing the dictionary's keys|
|pop()	| Removes the element with the specified key|
|popitem()	| Removes the last inserted key-value pair|
|setdefault()	| Returns the value of the specified key. If the key does not exist: insert the key, with the specified value|
|update()	| Updates the dictionary with the specified key-value pairs|
|values()	| Returns a list of all the values in the dictionary|

In [56]:
x = "10"
x = int(x)
x = type(x)
print(x)

<class 'int'>

In [57]:
DNSC_6303 = {
    #Key            :  value
    "Name"          : "Intro to Programming",
    "num_students"  : 50,
}

In [58]:
DNSC_6303 = {"Name": "Intro to Programming","num_students" :50,
}

In [59]:
DNSC_6303[0]

KeyError: 0

In [60]:
DNSC_6303["Name"]

'Intro to Programming'

In [61]:
DNSC_6303["student_names"] = ["Jane"] * DNSC_6303["num_students"]

In [62]:
DNSC_6303["student_names"]

['Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane',
 'Jane']

In [63]:
print(DNSC_6303)

{'Name': 'Intro to Programming', 'num_students': 50, 'student_names': ['Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane']}

In [64]:
DNSC_6303.keys()

dict_keys(['Name', 'num_students', 'student_names'])

In [65]:
DNSC_6303.values()

dict_values(['Intro to Programming', 50, ['Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane']])

In [66]:
DNSC_6303.items()

dict_items([('Name', 'Intro to Programming'), ('num_students', 50), ('student_names', ['Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane', 'Jane'])])

In [67]:
#DNSC_6303

## 1.4 Control Flows: If-Statements and Loops

In Python, as in pretty much every programming language, there exist if-statements and various types of loops

Python If-Statements and Loop Types
- If-Else
```
if expression:
    # execute these statements
else:
    # execute these statements
```
- For-Loop
```
for iterable:
    # execute these statements
```
- While-Loop
```
while expression:
    statement(s)
```
- While-Else
```
while condition:
     # execute these statements
else:
     # execute these statements
```

### If-Statements

In [68]:
behavior = 'Good Boy'
if behavior == 'Good Boy':
  pet = True

In [69]:
behavior = 'Good Boy'
if behavior == 'Good Boy':
  pet = True
else:
  pet = False

In [70]:
behavior = 'Bad'
animal = 'Coral Snake'
if animal == 'dog':
  pet = True
elif behavior == 'Good Boy':
  pet = True
else:
  pet = False

In [71]:
pet

False

In [72]:
behavior = 'Bad'
animal = 'Coral Snake'
pet = False
if animal == 'dog':
  if behavior == 'Good Boy':
    pet = True

In [73]:
behavior = 'Bad'
animal = 'Coral Snake'
pet = False
if (animal == 'dog') and (behavior == 'Good Boy'):
    pet = True

In [74]:


#-----------
#-- In the above case, it is equivalent to the below.
#-- behavior == "Good Boy" equates to True

if True:
    pet = True
else:
    pet = False

In [75]:
behavior == "Good Boy"

False

In [76]:
True or True

True

In [77]:

True or False

True

In [78]:
behavior = "Good Boy"
animal = "Coral Snake"
if (behavior == "Good Boy") and (animal == "Dog"):
    pet = True
else:
    pet = False
print(pet)

False

In [79]:
behavior = "Good Boy"
animal = "Hamster"
if (behavior == "Good Boy") and (animal != "Coral Snake"):
    pet = True
else:
    pet = False
print(pet)

True

In [80]:
(behavior == "Good Boy") and (animal != "Coral Snake")

True

In [81]:
False or True

True

In [82]:
False and True

False

In [83]:
animal = "Dog"
(behavior == "Good Boy") and (animal == "Dog")

True

In [84]:
behavior = "Good Boy"
animal = "Coral Snake"
if (behavior == "Good Boy") and (animal != "Coral Snake"):
    pet = True
else:
    pet = False
print(pet)

False

In [85]:
if animal == "Dog":
    pet = True
    print("petting because animal is dog")
elif behavior == "Good Boy":
    pet = True
    print("petting behavior is acceptable")
else:
    pet = False



print(ksdvbkjsdbv)
kjdsbvkjsdbv

petting behavior is acceptable

NameError: name 'ksdvbkjsdbv' is not defined

In [86]:
a = 10
b = 15
c = None
if a > 5:
  c = "A"
c = "B"
c

'B'

In [87]:
a = 10
b = 15
c = None
if a > 5:
  c = "A"



if b > 5:
  c = "B"
else:
  c = "C"
c

'B'

In [88]:
(True and False) or True

True

In [89]:
(True & False) | True

True

In [90]:
((True & False) & True)

False

In [91]:
(True | False) | True

True

In [92]:
((True & False) | (True & True))

True

In [93]:
((True & False) | (False & True))

False

#### Boolean Operators


| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| <= | less than or equal to |
| > | greater than |
| >= | greater than or equal to |

#### Combining Booleans
| Operator | Meaning |
| --- | --- |
| and |Both/all boolean operators must be true |
| & | Both/all boolean operators must be true |
| or | Just one boolean operators must be true |
| \| | Just one boolean operators must be true |

### For-Loop

In [94]:
gdp = [100, 204, 104]
gdp[0] = gdp[0] * 1000000
gdp[1] = gdp[1] * 1000000
gdp[2] = gdp[2] * 1000000
gdp

[100000000, 204000000, 104000000]

In [95]:
li = [10,20,30]
for i in li:
    a = i *10
    print(a)

100
200
300

In [96]:
for i in range(0,len(li)):
  print(i)

0
1
2

In [97]:
list(range(100, 110))

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

In [98]:
li = [10,20,30]

for i in range(0, len(li)):
    print(i, li[i])

0 10
1 20
2 30

In [99]:
for i, val in enumerate(["hey", "hi", "ho"]):
    print(i, val)

0 hey
1 hi
2 ho

In [100]:
for i in [1,2,3]:
    print(i ** 2)

1
4
9

In [101]:
for i in (1,2,3):
    print(i ** 2)

1
4
9

In [ ]:
for i in range(1, 4):
    print(i ** 2)

In [ ]:
1%7

In [102]:
#-- Finding numbers that are divisible by 7 between 0 and 99
divisible_by_7 = []
for i in range(0, 100):
    if i % 7 == 0:
        divisible_by_7.append(i)
print(divisible_by_7)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [103]:
#-- Using enumerate to have access to the index, and the value
for i, name in enumerate(["Fry", "Leila", "Hermes", "Bender"]):
    print("The {} item is {}".format(i, name))

The 0 item is Fry
The 1 item is Leila
The 2 item is Hermes
The 3 item is Bender

### While Loop
These can be "dangerous" because the programmer does not explicitly know when the loop will end. It is very easy write a program that has an endless loop, which is generally not a good thing.

In [104]:
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [105]:
a = "10"
a + g

NameError: name 'g' is not defined

## 1.5 Types of Errors and De-Bugging

### Syntax Errors
A **syntax error** happens when Python can't understand what you are saying. A run-time error happens when Python understands what you are saying, but runs into trouble when following your instructions.

In English, a **syntax error** would be like the sentence

Please cat dog monkey.

The grammar of this sentence does not make sense. From the perspective of English grammar, it is missing a verb (action). You cannot understand what you are being asked to do. Syntax means the same thing as grammar.

### Run-Time Errors
In English, a **run-time error** would be like the sentence

Please eat the piano.

The sentence makes sense from a grammatical perspective — there is a verb and noun in the right place — so you know what you are being asked to do. But, you will encounter problems once you start trying to eat the piano (except maybe if you are a termite). This is called a **run-time error** because it occurs after the program starts running.

### Logical Errors (THE MOST DANGEROUS)
We also will talk about **logic errors** at the end, which means that your program runs without crashing, but still produces the wrong result. An example would be

Please close the back door so that the bugs don't come in.

This would be a **logic error** if the front door is also open: even though the command makes sense and you can close the back door, this doesn't actually accomplish the goal of keeping the bugs out since they'll still come in the front door.

Source and Additional Explanation
https://cscircles.cemc.uwaterloo.ca/1e-errors/#:~:text=A%20syntax%20error%20happens%20when,trouble%20when%20following%20your%20instructions.

In [106]:
#-- syntax error
x =

SyntaxError: invalid syntax (ipython-input-1503085804.py, line 2)

In [107]:
#-- Run-time error
x = ["1", "2", "three"]
for val in x:
  print(val)
  print(int(val) + 10)

1
11
2
12
three

ValueError: invalid literal for int() with base 10: 'three'

In [108]:
capitals = {
    "North Carolina": "Raleigh",
    "Virginia": "Alexandria"
}
print(capitals["Virginia"])

Alexandria

In [109]:
grade = -1
assert grade >= 0

AssertionError:

### Debugging Strategies
- Print output
- Audit your work
- Use Try-Except statements (try-catch in R)
- Use de-buggers
- Read the error message carefully, use StackExchange or similar sites
- Use assert statements to ensure a value type is what is expected

## 1.6 A Brief Note on String Operations

Strings operate very similarly to lists... A String after all is effectively a list of characters. You can index and slice strings with identical syntax to lists.

| Method |	Description |
|--------|---------------------|
| capitalize() |	Converts the first character to upper case |
| casefold() |		Converts string into lower case |
| center() |		Returns a centered string |
| count() |		Returns the number of times a specified value occurs in a string |
| encode() |		Returns an encoded version of the string |
| endswith() |		Returns true if the string ends with the specified value |
| expandtabs() |		Sets the tab size of the string |
| find() |		Searches the string for a specified value and returns the position of where it was found |
| format() |		Formats specified values in a string |
| format_map() |		Formats specified values in a string |
| index() |		Searches the string for a specified value and returns the position of where it was found |
| isalnum() |		Returns True if all characters in the string are alphanumeric |
| isalpha() |		Returns True if all characters in the string are in the alphabet |
| isascii() |		Returns True if all characters in the string are ascii characters |
| isdecimal()	 |	Returns True if all characters in the string are decimals |
| isdigit() |		Returns True if all characters in the string are digits |
| isidentifier() |		Returns True if the string is an identifier |
| islower() |		Returns True if all characters in the string are lower case |
| isnumeric() |		Returns True if all characters in the string are numeric |
| isprintable() |		Returns True if all characters in the string are printable |
| isspace() |		Returns True if all characters in the string are whitespaces |
| istitle() |		Returns True if the string follows the rules of a title |
| isupper() |		Returns True if all characters in the string are upper case |
| join() |		Converts the elements of an iterable into a string |
| ljust() |		Returns a left justified version of the string |
| lower() |		Converts a string into lower case |
| lstrip() |		Returns a left trim version of the string |
| maketrans() |		Returns a translation table to be used in translations |
| partition() |		Returns a tuple where the string is parted into three parts |
| replace() |		Returns a string where a specified value is replaced with a specified value |
| rfind() |		Searches the string for a specified value and returns the last position of where it was found |
| rindex() |		Searches the string for a specified value and returns the last position of where it was found |
| rjust()	 |	Returns a right justified version of the string |
| rpartition() |		Returns a tuple where the string is parted into three parts |
| rsplit() |		Splits the string at the specified separator, and returns a list |
| rstrip() |		Returns a right trim version of the string |
| split()	 |	Splits the string at the specified separator, and returns a list |
| splitlines() |		Splits the string at line breaks and returns a list |
| startswith() |		Returns true if the string starts with the specified value |
| strip() |		Returns a trimmed version of the string |
| swapcase() |		Swaps cases, lower case becomes upper case and vice versa |
| title() |		Converts the first character of each word to upper case |
| translate() |		Returns a translated string |
| upper() |		Converts a string into upper case |
| zfill() |		Fills the string with a specified number of 0 values at the f

In [110]:
#-- Indexing
s = "This is a word"
print(s[-1])

d

In [111]:
#-- Slicing
s = "This is a word"
print(s[4:-2])

 is a wo

In [112]:
#-- Replace method
s = "This is a word."
print(s.replace(".", ""))

This is a word

In [113]:
#-- Split String into list of words
s = "This is a word"
print(s.split(" "))

['This', 'is', 'a', 'word']

In [114]:
#-- Strip white space
s = "    This is a word "
print(s.strip())

This is a word